.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--ctp-lavender);
    grid-column: 1 / -1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
}

@media (min-width: 900px) {
    .container {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 350px 1fr;
        align-items: start;
        gap: 3rem;
    }

    h1 {
        text-align: left;
        margin-bottom: 1rem;
    }
}
