:root {
    --ctp-base: #1e1e2e;
    --ctp-mantle: #181825;
    --ctp-surface0: #313244;
    --ctp-text: #cdd6f4;
    --ctp-subtext1: #bac2de;

    --ctp-green: #a6e3a1;
    --ctp-red: #f38ba8;
    --ctp-blue: #89b4fa;
    --ctp-lavender: #b4befe;

    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: var(--ctp-text);
    background-color: var(--ctp-base);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}
